streamlit
streamlit-authenticator
pyyaml
google-generativeai
google-genai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
sqlmodel
pandas
pypdf
python-docx
jinja2
pytesseract
pdf2image
pillow
html2text
rank-bm25
numpy
nltk